.profile-wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .profile-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  .info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
  }
  span {
    font-weight: bold;
  }
  
  p {
    margin: 0;
  }
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .profile-wrapper {
      max-width: 80%;
    }
  }
  @media (max-width: 576px) {
    .profile-wrapper {
      max-width: 90%;
    }
    .info-item {
      font-size: 16px;
    }
  }
  